# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
env/
venv/
ENV/

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# MacOS
.DS_Store

# PyTorch
*.pth
*.pt

# Data
data/
!data/*.py
!data/__init__.py
